.ingredientsSection {
   display: flex;
   background-color: invisible;
   text-align: center;
   width: 200px;
   height: 200px;
   flex-direction: column;
   /* overflow-y: scroll; */
 }

 .ingredientConstructor{
  display: flex;
  flex-direction: column;
  gap: 10px;
 }

 .innerIngredients{
  max-height: 200px;
  overflow-y: scroll;
  gap: 16px;
  display: flex;
  flex-direction: column;
 }

 .orderButton {
  margin-left: 40px;
 }

.overflow {
  min-height: 400px;
}
 
.icon{
  size: 20px;
}

.burgerParts{
display: flex;
align-items: center;
justify-content: space-evenly;
}

.mainName{
display: flex;
justify-content: flex-start;
}


.burgerPiecesSeparately{
color: white;
size: 20px;
display: flex;
justify-content: flex-start;
}

.ingredientsItem{
width: 300px;
}

.mainIngredientsStyle {
  max-height: 300px;
  overflow-y: scroll;
  gap: 16px; 
  display: flex;
  flex-direction: column;
}

.priceOrder {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.constructorElementBlock {
  display: flex;
  flex-direction: row;
}

.dragIconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 32px;
}
