.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border-radius: 100px;
  overflow: hidden; 
  margin-top: 0;
}

.orderDetailsFrame{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  height: 100%;  
  top: 180px;
  left: 640px;
  border: 2px;
}
.orderDetailsID{
white-space: nowrap; 
}

.orderDetailsWaiting{
  white-space: nowrap; 
  color: gray;
}