.ingredientsSection {
   display: flex;
   background-color: invisible;
   text-align: center;
   width: 200px;
   height: 200px;
   flex-direction: column;
   /* overflow-y: scroll; */
 }


.overflow {
  min-height: 400px;
}
 
 .icon{
   size: 20px;
 }

 .burgerParts{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

 .mainName{
  display: flex;
  justify-content: flex-start;
 }


 .burgerPiecesSeparately{
  color: white;
  size: 20px;
  display: flex;
  justify-content: flex-start;
 }

 .ingredientsItem{
  width: 300px;
 }

 /* axHeight: '300px', overflowY: 'scroll', gap: '16px', display: 'flex', flexDirection: 'column'  */