.ingredientsSection {
   display: flex;
   background-color: invisible;
   text-align: center;
   max-width: 600px;
   flex-direction: column;
   height: 100%;
 }
 
 .icon{
   size: 20px;
 }

 .burgerParts{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

 main {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
 }

 .mainName{
  display: flex;
  justify-content: flex-start;
 }


 .burgerPiecesSeparately{
  color: white;
  size: 20px;
  display: flex;
  justify-content: flex-start;
 }

 .ingredientsList {
  display: flex; 
  justify-content: center;
  max-height: 100vh;         
  overflow-y: auto;          
  flex-wrap: wrap;           
  gap: 10px;   
  box-sizing: border-box; 
}

 .ingredientsItem {
  display: grid;              
  gap: 24px;                   
}

.priceItem{
  display: flex !important;
  align-items: center;
  justify-content: center;
}





