
.orderDetailsMain{
  display: flex;
  flex-direction: column;
  width: 640px;
  position: relative;
  padding: 0 24px 0 24px;
  margin: 60px 0 0 0;
}

.moduleOrderLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderName{
  display: flex;
  justify-content: flex-start;
}

.statusOrder{
  color: #00CCCC;
  display: flex;
  justify-content: flex-start;
}

.statusOrderOther{
  display: flex;
  justify-content: flex-start;

}

.orderIngredient{
  display: flex;
  justify-content: flex-start;
  width: 608px;
  align-items: center;

}

.orderIngredientName{
  width: 390px;
}

.orderResult{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 640px;
  margin-bottom: 32px;
}

.orderTime{
  width: 556px;
}

.orderNumber{
  text-align: center;

}

.orderIngredientOptions{
  overflow-y: scroll;
  max-height: 180px;
  overflow-x: hidden;

}

.orderNumberImage {
  width: 71px;
  height: 64px;
  padding: 4px 0px 4px 0px;
  object-fit: cover;
  border: 2px solid #4C4CFF,; 
  border-radius: 50%; 
  background: black;
}

.orderIngredientPrice{
  display: flex;
  width: 245px;
  justify-content: flex-end;
}


