.loginLayoutProfile {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
}

.newPerson{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.appHeaderStyle{
  background-color: #1C1C21;
}

.container {
  padding: var(--container-padding);
  height: calc(100vh - var(--container-padding)*2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-items: flex-start
}

.form {
  display: flex;
  width: 480px;
  height: 430px;
  flex-direction: column;
  padding-top: 15vh;
  align-items: center;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  align-items: flex-end;
}

.profileForm {
  display: flex;
  /* align-items: flex-start */
}

.profileChoice{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 320px;
  padding-top: 15vh;
}

.chioceOption{
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  color: white;
}

.chioceOptionInactive{
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  
}

.chioceOptionInactive:hover{
  color: #747bff;
}

.chioceOptionInactiveInfo{
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}




