.ingredientsSection {
   display: flex;
   background-color: invisible;
   text-align: center;
   width: 600px;
   flex-direction: column;
 }

 .tabBar {
  display: flex;
 }
 
 .icon{
   size: 20px;
 }

 .burgerParts{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

 main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: clip;
 }

 .mainTitle{
  display: flex;
  justify-content: flex-start;
  margin: 0;
 }


 .burgerPiecesSeparately{
  color: white;
  size: 20px;
  display: flex;
  justify-content: flex-start;
 }

 .ingredientsList {
  display: flex; 
  justify-content: space-between;
  gap: 24px;   
  box-sizing: border-box; 
  overflow-y: scroll;
  max-height: 300px;
  overflow-x: hidden;
}

 .ingredientsItem {
  display: flex;   
  flex-direction: column;     
  width: 272px;
  position: relative;
}

.counterTopRight {
  position: absolute;
  margin-right: 20px;
}

.priceItem{
  display: flex ;
  align-items: center;
}



.backgroundImgColor {
  background-color: transparent;
  padding: 4px;
  border-radius: 8px;
}

.scrollContainer{
  /* overflow-y: scroll; */
  max-height: 500px;
  overflow-x: hidden;
}



